.login-page {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-container {
    display: flex;
    max-width: 700px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: max-width 0.3s ease;
    margin-left: 280px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.login_image {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.login_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    flex: 1;
    padding: 20px;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    background-color:  #505e3c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* ViewPort*/
@media (max-width: 980px){
    .login-container {
        max-width: 600px;
        margin-left: 80px;
        margin-bottom: 60px;
    }

  }
  
@media (max-width: 768px) {
    .login-container {
        max-width: 400px;
        margin-left: 50px;
        margin-bottom: 60px;
    }

}

