i {
    color: #8598a3;
    font-weight: 400;
    font-size: smaller;
}

.product_container {
    max-width: 900px;
    margin: 20px auto;
    background-color: rgba(226, 226, 226, 0.200);
    border: 1px solid #dee2e6;
}

.product {
    display: flex;
    border-bottom: 1px solid #dee2e6;
    font-family: 'AlbertSans', sans-serif;
}

.prod_dtl {
    flex: 3;
    padding: 20px;
}

.prod_Image {
    flex: 1;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}



img {
    max-width: 90%;
    height: auto;
}

h2 {
    color: #5e5050;
}

p {
    color: #786969;
}

.price {
    color: #adc58a;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #adc58a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #505e3cba;
}